body {
    font-family: Consolas, monospace;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    line-height: 2;
}
h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
h5 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #666;
}
ul {
    list-style-type: none;
    padding: 0;
  }
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.story-info {
    text-align: right;
    color: #666;
}
.story-date {
    margin-bottom: 10px;
    text-align: center; 
}
.story-status {
    font-size: 14px;
}
p {
    text-align: justify;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center; 
    margin: 0 auto; 
}

.image {
    flex: 0 0 auto;
    margin-right: 50px;
    margin-left: 50px;
}

.image img {
    width: 125px;
    height: auto;
}

.synopsis {
    flex: 1;
    text-align: justify;
    font-size: 10px;
    color: #666;
    margin-right: 50px;
}